<% provide(:title, "Top") %>

<div class="jumbotron">
  <h1>忘れ物防止アプリ</h1>
  <div class="login-btn">
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  </div>
  <div class="signup-btn">
    <%= link_to "新規登録", new_user_path, class: "btn btn-lg btn-success" %>
    <%= link_to '/auth/facebook', class: "btn btn-social btn-facebook" do %>
      <span class="fa fa-facebook"></span> Facebookアカウントでログイン
    <% end %>
    <%= link_to '/auth/twitter', class: "btn btn-social btn-twitter" do %>
      <span class="fa fa-twitter"></span> Twitterアカウントでログイン
    <% end %>
  </div>
</div>
