<% provide(:title, 'プラン作成') %>
<% provide(:class_text, 'new-plan') %>
<% provide(:button_text, '新規作成') %>

<h1>プラン作成</h1>
<div class="container">
  <div class="col-md-8 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>