<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "忘れ物防止アプリ", root_path, id: "logo" %>
    <% if logged_in? %>
      <%= link_to "ユーザーホーム", current_user %>
      <%= link_to "ログアウト", login_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", login_path %>
    <% end %>
  </div>
</header>